<div class="container page-container">
    <div class="row">
        <div class="col-md-12 centered">
            <%= gravatar_for(@user, size: 200, centered: true) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centered">
            <h1>@<%= @user.username %></h1>
        </div>
    </div>
    <% if @user == current_user %>
        <div class="row">
            <div class="col-md-12">
                <%= render 'shared/chirp_form' %>
            </div>
        </div>
    <% else %>
        <div class="row">
            <div class="col-md-12 centered">
                <div class="form-group">
                    <%= render partial: "follow_form" %>
                </div>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-12">
            <% if @chirps.any? %>
                <ul class="chirps list-group">
                    <%= render partial: "shared/chirp", collection: @chirps %>
                </ul>
            <% else %>
                <p><%= @user.email %> has no chirps to display</p>
            <% end %>
        </div>
    </div>
</div>
